.background{
    background-color: antiquewhite;
    height: fit-content;
}

.content-container{
    text-align: center;
    background-color: black;
    width: 50%;
    margin: auto;
    margin-top: 10%;
}

.profilePic{
    border-radius: 100px;
}