.html{
    width: 100%;
}

.App{
    background-color: antiquewhite;
}

.navbar-brand{
    font-size: 25px;
}

.background{
    background-color: antiquewhite;
    width: 100%;
}

.content-container{
    background-color: antiquewhite;
    text-align: center;
    width: 40%;
    height: 700px;
    margin: auto;
    margin-top: 9%;
    animation: fadein 2s;
}


.intro-container{
    height: 230px;
}

.image-container{
    width: 100%;
    text-align: center;
}

.profilePic{
    border-radius: 100px;
    box-shadow: 5px 10px 8px #0f0f0f;
    z-index: 1;
}

.greet{
    font-size: 20px;
    margin-top: 20px;
} 

.intro{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: fit-content;
    background-color: rgb(161, 168, 166);
    border-radius: 10px;
    
}

.intro-container{
    width: 100%;
    text-align: center;
}

.content{
    font-size: 18px;
    margin: 10px;
}

.links{
    margin: 5%;
}

#linkURL{
    margin: 4%;
}

#logo{
    width: 54px;
    height: 50px;
}

.bio-section{
    width: 100%;
    display: flex;
}

.bio-container{
    width: 35%;
    margin: auto;
    margin-top: 8%;
    display: flex;
}

.bio-photo{
    width: 300px;
    height: 350px;
    margin: 10px;
}


.footer{
    text-align: center;
    color: white;
    background-color: #1d1d1d;
}

.email-link{
    text-decoration: none;
}

.demoVideoSection{
    text-align: center;
    width: 100%;
    margin-top: 5%;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 60.23%;
    position: relative;
    height: 0;
}
  
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 450px;
    margin: 20px;
}
  
.demoVideos{
    display: flex;
    flex-wrap: wrap;
}

#video{
    width:530px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    border-radius: 10px;
}

.resume-section{
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 750px;
}

.pdf-container{
    margin: auto;
    width: 500px;
}


/* Contact Form */
.email-form-container{
    width: 100%;
    text-align: center;
}

.contact-form{
    margin: auto;
    margin-bottom: 100px;
    width: 20%;
    display: flex;
    flex-direction: column;
}


@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 500px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .intro{
        width: 110%;
    }
    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 200px;
        width: 300px;
        margin: 20px;
    }
    
    .resume-section{
        text-align: center;
        width: 100%;
        height: 750px;
        margin-top: 5%;
    }

    .pdf-container{
        margin: auto;
        width: 330px;
    }
  }